body {
  background-image: url(../imagenes/kanto-map.jpeg);
  background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 80px;
}

ul {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: white;
}

a {
  text-decoration: none;
  color: white;
}
