body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: bisque
}

h1 {
    text-align: center;
    font-size: 40px;
}

.fuego {
  background-color: orange;
  padding: 4px 8px;
  border-radius: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

h4 {
    background-color: red;
    text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.veneno {
  background-color: #D29DFD;
  padding: 4px 8px;
  border-radius: 10px;
}

.fantasma {
  background-color: purple;
  padding: 4px 8px;
  border-radius: 10px;
}

.psiquico {
  background-color: pink;
  padding: 4px 8px;
  border-radius: 10px;
}

.volador {
  background-color: gray;
  padding: 4px 8px;
  border-radius: 10px;
}

.dragon {
  background-color: orange;
  padding: 4px 8px;
  border-radius: 10px;
}